---
import '../styles/app.css';
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>TP18 - Web Components</title>
    <meta charset="UTF-8" />
  </head>

  <body>
    <script type="module" src="/src/scripts/app.ts"></script>

    <br />
    <hello-world></hello-world>
    <br />
    <hello-name></hello-name>
    <br />
    <hello-name name="Charlotte"></hello-name>
    <br />
    <hello-name id="third" name="Eva"></hello-name>
    <br />
    <greet-custom></greet-custom>
    <br />
    <date-time></date-time>
  </body>
</html>
