---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <h2>Bienvenue sur le site des Travaux Pratiques</h2>
  <p>Ce site regroupe les 18 TP du semestre de TypeScript, en première année à Telecom Paris, avec une interface interactive et testable.</p>
  <p>Vous pouvez par exemple jouer au jeu punto en cliquant sur le TP5 ou encore choisir des playlist deezer selon votre humeur via le lien vers le projet.</p>
  <ul>
    <li><a href="/projet">Projet - Utilisation de l'API Deezer</a></li>
    <li><a href="/tp1">TP1 - Hello World TypeScript</a></li>
    <li><a href="/tp2">TP2 - Hello astro typescript</a></li>
    <li><a href="/tp3">TP3 - Modules</a></li>
    <li><a href="/tp4">TP4 - Client or server side</a></li>
    <li><a href="/tp5">TP5 - Projet Punto</a></li>
    <li><a href="/tp6">TP6 - CSS flexbox</a></li>
    <li><a href="/tp7">TP7 - fat arrow</a></li>
    <li><a href="/tp8">TP8 - map reduce filter find foreach</a></li>
    <li><a href="/tp9">TP9 - objects</a></li>
    <li><a href="/tp10">TP10 - json</a></li>
    <li><a href="/tp11">TP11 - generics</a></li>
    <li><a href="/tp12">TP12 - exceptions</a></li>
    <li><a href="/tp13">TP13 - sync await</a></li>
    <li><a href="/tp14">TP14 - fetch</a></li>  
    <li><a href="/tp15">TP15 - cors</a></li>
    <li><a href="/tp16">TP16 - http CRUD</a></li>
    <li><a href="/tp17">TP17 - forms</a></li>
    <li><a href="/tp18">TP18 - web components</a></li>

  </ul>
</Layout>
