---
---
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TP Web</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <div class="container">
        <h1>🌐 TP TypeScript</h1>
        <nav>
          <a href="/">Accueil</a>
          <a href="/projet">Projet</a>
          <a href="/tp1">TP1</a>
          <a href="/tp2">TP2</a>
          <a href="/tp3">TP3</a>
          <a href="/tp4">TP4</a>
          <a href="/tp5">TP5</a>
          <a href="/tp6">TP6</a>
          <a href="/tp7">TP7</a>
          <a href="/tp8">TP8</a>
          <a href="/tp9">TP9</a>
          <a href="/tp10">TP10</a>
          <a href="/tp11">TP11</a>
          <a href="/tp12">TP12</a>
          <a href="/tp13">TP13</a>
          <a href="/tp14">TP14</a>
          <a href="/tp15">TP15</a>
          <a href="/tp16">TP16</a>
          <a href="/tp17">TP17</a>
          <a href="/tp18">TP18</a>
        </nav>
      </div>
    </header>
    <main class="container">
      <slot />
    </main>
    <footer>
      <div class="container">Site de démonstration – TypeScript</div>
    </footer>
  </body>
</html>